<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Hello world</title>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<!--/*@thymesVar id="helloPostDto" type="cz.petrbalat.spring.mvc.test.dsl.controller.HelloPostDto"*/-->

<h1>
    Hello
    <span class="name" th:if="${name != null}" th:text="${name}">Hello for name</span>
    <span class="name" th:if="${helloPostDto != null}" th:text="${helloPostDto.surname}">Hello for surname</span>
</h1>

</body>
</html>